:root {
    --color-primary: hsl(158, 36%, 37%);
    --color-secudary: hsl(30, 38%, 92%);

    --color-neutral-primary: hsl(212, 21%, 14%);
    --color-neutral-secundary: hsl(228, 12%, 48%);
    --color-neutral-light: hsl(0, 0%, 100%);

    --font-primary: 'Fraunces', serif;
    --font-secundary: 'Montserrat', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: gray;
}

.container .box {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -187px;
    margin-top: -225px;
    width: 375px;
    height: 800px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

.container .box img.desktop {
    display: none;
    width: 300px;
    height: 450px;
}

.container .box img.mobile {
    display: block;

}

.container .box .txt {
    width: 300px;
    height: 450px;
    text-align: left;
}

.container .box .txt h3 {
    font-family: var(--font-secundary);
    margin: 20px 30px;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 5px;
    color: var(--color-neutral-secunday);
}

.container .box .txt h1.titulo {
    font-family: var(--color-primary);
    margin: 20px 30px;
    font-size: 36px;
    line-height: 35px;
    font-weight: bold;
    margin-bottom: 15px;
}

.container .box .txt p {
    font-family: var(--font-secundary);
    margin: 20px 30px;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 30px;
    color: var(--color-neutral-secunday);
}

.container .box .txt h1.preco {
    font-family: var(--color-primary);
    font-size: 30px;
    margin: 20px 30px;
    display: inline;
    line-height: 25px;
    color: var(--color-primary);
}

.container .box .txt h4 {
    font-family: var(--font-secundary);
    font-weight: normal;
    text-decoration: line-through;
    display: inline;
    font-size: 13px;
    color: var(--color-neutral-secunday);
}

.container .box button {
    font-family: var(--font-secundary);
    border: none;
    margin: 35px 30px;
    padding: 15px 75px;
    border-radius: 5px;
    background-color: var(--color-primary);
    color: white;
    cursor: pointer;

    background-image: url(../images/icon-cart.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 50px;
}

.container .box button:hover {
    background-color: var(--color-neutral-primary);
}


@media (max-width: 700px) {}